<label for="streetName">Address:</label>
<div formGroupName="address">
  <div class="form-group">
    <input type="text" class="form-control" name="phoneNumber" placeholder="Street Name"
      formControlName="streetName" />
  </div>
   <div class="form-group">
    <input type="text" class="form-control" name="phoneNumber" placeholder="City"
      formControlName="city" />
  </div>
   <div class="form-group">
    <input type="text" class="form-control" name="phoneNumber" placeholder="Pin Code"
      formControlName="pinCode" />
  </div>
</div>